*{
    margin: 0;
    padding: 0;
}
#navBar{
    background-color: brown;
    height: 20px;
}
#container{
    margin: 10px 200px 50px 200px;
}
/*=====Cont 1=====*/
.box{
    background-color: lightgray;
}
#container1{
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 20px 0 20px 0;
}
#child1{
    width: 49.5%;
    height: 100px;
}
#child2{
    width: 49.5%;
    height: 100px;
}
/*=====Cont 2=====*/
#container2{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}
 
#cont1{
    width: 24%;
    height: 200px;
}
#cont2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24%;
    height: 200px;
    
}
#childCont2{
    width: 100%;
    height: 95px;
}
/*====Cont 3====*/

#cont3{
    margin: 20px 250px 20px 250px;
    height: 25px;
}
/*=====cont 4====*/
#container4{
  display: flex; 
  justify-content: space-between;
  
}
#cont4-1{
    width: 22%;
    margin-right: 10px;
    flex-grow: 1;
    height: 150px;
}
#cont4-2{
    width: 28%;
    margin-right: 10px;
    flex-grow: 2;
    height: 150px;
     
}
#cont4-3{
    width: 50%; 
    flex-grow: 3;
    height: 150px;
    
}
/*=====cont 5======*/
#container5{
    margin: 30px 0 30px 0;
    display: flex;
    justify-content: space-between;
}
.cont5-1{
    height: 150px;
}
#cont5-1{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#childCont5-1{
   
    margin-top: 10px; 
}
#cont5-2{
    width: 33%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#childCont5-2-1{
    margin-bottom: 10px;
    height: 30%;
}
#childCont5-2-2{ 
    height: 68%;
}  

#cont5-3{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#childCont5-3-1{
    height: 25%;
}
#childCont5-3-2{
    height: 30%;
}
#childCont5-3-3{
    height: 40%;
}
 
 